html {
  font-family: Georgia, serif;
}

.planet {
  background-color: #495562;
  color: #efefef;
}

.btn {
  border: 3px solid #97a49b;
  color: #fff;
}

.btn:hover {
  border: 2px solid #efefef;
  background-color: #efefef;
  color: #495562;
}

@media only screen and (min-width: 38em) {

  .btn-box {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .planet {
    background-color: rgba(73, 85, 98, 0);
    background-image: linear-gradient(to top, rgba(73, 85, 98, .9), rgba(73, 85, 98, 0) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .banner {
    max-height: 500px;
  }

  .btn {
    border: 3px solid #fff;
  }

}
